body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

html {
  height: 100%;
  background-color: #111;
}

body {
  height: 100%;
}

@font-face {
  font-family: "PROPAGAN";
  src: url("./theme/fonts/PROPAGAN.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Octosquares ExtraBold";
  src: url("./theme/fonts/Octosquares ExtraBold.ttf") format("truetype");
  font-weight: 500;
}

.button-img {
  padding-top: 4px;
}